body {
    background-color: lightpink;
    color: black;
    font-family: 'Times New Roman';
    margin: 0px;  
}

header{
    background-image: linear-gradient(to bottom, lightblue, lightpink);
    color: black;
    padding: 10px;
    font-size: 16pt;
    font-style: italic;
    text-align: left;
}

main{
    margin: 10px 20px;
}

footer {
    background-image: linear-gradient(to top, lightblue, lightpink);
    color: black;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
}