<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Kashirskiy Danil, {% block  lab %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-programming part two,  {{ self.lab() }}
    </header>

    <main>
        {% block main %}{% endblock %}

        <h2>Вернуться в меню:</h2>
        <a href="/menu">Menu</a>
        
    </main>
    
    <footer>
        &copy; Kashirskiy Danil, FBI-14, III course, 2023
    </footer>
</body>
</html>