{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    {% if FIO and age and PA and PB and data %}
    <h1>Оплата прошла успешно, вот Ваш билет:</h1>

    <table border="0.5" style="background-color: black; color: whitesmoke; text-align: center; font-size: 12pt;" >
        <tr>
            <th style="font-size: 16pt">Билет №*******</th>
            <th style="font-size: 16pt">                    </th>
            <th style="font-size: 16pt">г. {{PA}} --> г. {{PB}}</th>
        </tr>
        <tr>
            <td>Пассажир:<br> {{FIO}}</td>
            <td>Присутсвие багажа:<br> {{ 'Да' if BAG == 'YEU' else 'Нет' }}</td>
            <td><img src="{{ url_for('static', filename='bilet.jpg') }}" width="15%" ></td>
       </tr>
       <tr>
            <td>Тип билета:<br> {{ 'Детский' if OLD == 'KID' else 'Взрослый' }}</td>
            <td>Выбранное место:<br>{% if PLC == 'UP' %} Верхняя полка {% elif PLC == 'DWM' %} Нижняя полка {% elif PLC == 'BUP' %} Верхняя боковая полка {% else %} Нижняя боковая полка {% endif %}</td>
            <td>Возраст пассажира:<br> {{age}} лет</td>
       </tr>
       <tr>
            <td>Дата отправки: {{data}}</td>
            <td>              </td>
            <td><img src="{{ url_for('static', filename='bilet2.png') }}" width="25%" style="border-radius: 10px;"></td>
        </tr>
    </table>
    
    {% else %}

    <h1>Оформление билета:</h1>

    <form style="border: 1px solid black; color: whitesmoke; 
                    border-radius: 20px;background-color: black; 
                    padding: 10px; text-align: center;">
        <Label>Введите ФИО пассажира:</Label>
        <div>
            <input type="text" placeholder="ФИО" name="FIO" value="{{ FIO or '' }}">
            <span class="error" style="color: lightcoral;">{{ ERERER['FIO'] }}</span>
        </div><br>

        <Label>Введите тип пассажира:</Label>
        <div>
            <select name="OLD">
                <option value="KID" {{ OLD == 'KID' or 'selected '}}>Детский</option>
                <option value="PPL" {{ OLD == 'PPL' or 'selected '}}>Взрослый</option>
            </select>
        </div><br>

        <Label>Введите место для пассажира :</Label>
        <div>
            <select name="PLC">
                <option value="UP" {{ PLC == 'UP' or 'selected '}}>Верхняя полка</option>
                <option value="DWM" {{ PLC == 'DWM' or 'selected '}}>Нижняя полка</option>
                <option value="BUP" {{ PLC == 'BUP' or 'selected '}}>Верхняя боковая полка</option>
                <option value="BDWN" {{ PLC == 'BDWN' or 'selected '}}>Нижняя боковая полка</option>
            </select>
        </div><br>

        <div>Багаж будет?:</div>
        <div>
            <select name="BAG">
                <option value="YEU" {{ BAG == 'YEU' or 'selected '}}>Да</option>
                <option value="DOU" {{ BAG == 'DOU' or 'selected '}}>Нет</option>
            </select>
        </div><br>
        
        <Label>Возраст:</Label>
        <div>
            <input type="number" placeholder="Возраст пассажира" name="age" min="18" max="120"  value="{{ age or '' }}">
            <span class="error" style="color: lightcoral;">{{ ERERER['age'] }}</span>
        </div><br>

        <Label>Пункт выезда:</Label>
        <div>
            <input type="text" placeholder="Пункт выезда" name="PA" value="{{ PA or '' }}">
            <span class="error" style="color: lightcoral;">{{ ERERER['PA'] }}</span>
        </div><br>

        <Label>Пункт назначения:</Label>
        <div>
            <input type="text" placeholder="Пункт назначения" name="PB" value="{{ PB or '' }}">
            <span class="error" style="color: lightcoral;">{{ ERERER['PB'] }}</span>
        </div><br>

        <Label>Пункт назначения:</Label>
        <div>
            <input type="date"  name="data" value="{{ data or '' }}">
            <span class="error" style="color: lightcoral;">{{ ERERER['data'] }}</span>
        </div><br>

        </div>
        <button type="submit" >Оформить билет</button>
        </div>
    </form>
    {% endif %}
{% endblock %}