{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}
    {% if user and age %}

    <h1>Привет, {{ user }}</h1>
    <h2>Добро пожаловать на наш сайт !</h2>

    <div>Ваш возраст: {{ age }}</div>
    <div>Ваш пол: {{ 'Мужской' if sex == 'male' else 'Женский' }}</div>
    <ol>
        <a href="/lab3/form1"> Заполнить форму заново</a>
    </ol>

    {% else %}

    <h1>Пользователь</h1>
    <form>
        <Label>Ваше имя:</Label>
        <div>
            <input type="text" placeholder="Как ваше имя ?" name="user" value="{{ user or '' }}">
            <span class="error" style="color: brown;">{{ errors[user] }}</span>
        </div>
        <Label>Ваш возраст:</Label>
        <div>
            <input type="number" placeholder="Каков ваш возраст ?" name="age"  value="{{ age or '' }}">
            <span class="error" style="color: brown;">{{ errors[age] }}</span>
        </div>
        <Label>Ваш пол:</Label>
        <div>
            <select name="sex">
                <option value="male" {{ sex == 'male' or 'selected '}}>Мужчина</option>
                <option value="female" {{ sex == 'female' or 'selected '}}>Женщина</option>
            </select>
        </div>
            <button type="submit" >Отправить</button>
        </div>
    </form>
    {% endif %}
{% endblock %}