<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Kashirskiy Danil, {% block  lab %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</head>
<body>
    <header>
        WEB-programming part two,  Laboratory work #2
    </header>

    <main>
        {% block mn %}{% endblock %}
    </main>
    
    <footer>
        &copy; Kashirskiy Danil, FBI-14, III course, 2023
    </footer>
</body>
</html>