{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Заказ зерна</h1>
    <span class="error" style="color: brown;">{{ errors }}</span>
    <form method="post">
        <div>
            <label>Выберите зерно</label>
        </div>
        <div>
            <select name="zr">
                <option value="yachmen" {{ zr == 'yachmen' and 'selected' }}>ячмень</option>
                <option value="oves" {{ zr == 'oves' and 'selected' }}>овес</option>
                <option value="psheniza" {{ zr == 'psheniza' and 'selected' }}>пшеница</option>
                <option value="roj" {{ zr == 'roj' and 'selected' }}>рожь</option>
            </select>
        </div>
        <div>
            <label for="vs">Введите вес:</label>
            <input type="number" id="vs" name="vs" value="{{ vs }}">
        </div>
        <div>
            <button type="submit">Оформить заказ</button>
        </div>
        <div>
            <a href="/lab4/zr">Назад</a>
        </div>
    </form> 
    {% if msgg %}
    {% endif %}
    {% if msgg %}
    <h1>Операция прошла успешно !!!</h1>
    <div>{{ msgg }}</div>
    {% endif %}
    {% endblock %}